  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .collapse.navbar-collapse {
      justify-content: right;
  }

  .nav-item {
      margin-right: 30px;
      font-size: 20px;
  }

  .nav-item a {
      color: #e7e8e9;
  }

  .navbar {
      background-color: #000000;
      color: #e7e8e9;
  }

  .navbar-nav {
      padding-right: 100px;
  }

  nav div img {
      width: 160px;
      margin-left: 40px;
  }

  a.nav-link:hover {
      color: #0F6B15;
      transition: 0.5s;
  }

  .arrowNavigation {
      background-color: #96003A;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
  }

  .arrowNavigation span {
      color: black;
      font-size: 30px;
      font-weight: 500;
  }

  .arrowNavigation svg {
      width: 50px;
      height: 50px;
  }

  .checkboxes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .checkAndSearch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #CDDBB6;
      padding-top: 10px;
      color: #686868;
      height: auto;
  }

  .cardsContainer {
      background-color: #CDDBB6;
  }

  .info-bottom p {
      font-size: 20px;
  }

  #dinamic-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  #dinamic-card span {
      background-color: black;
      color: green;
      position: absolute;
      top: 0;
      padding: 2px;
      font-size: 18px;
  }

  .event-date {
      right: 0;
  }

  .type-event {
      left: 0;
  }

  .card-img-top {
      height: 200px;
  }

  .card {
      height: 450px;
  }

  .info-bottom {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      bottom: 0;
      width: 90%;
      margin: 5px;
  }

  img.img-fluid.rounded-start {
      height: 300px;
  }

  small.text-muted {
      color: red;
  }

  .socialMedia {
      background-color: black;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .socialMedia svg {
      color: #0fff20;
      width: 30px;
      height: 30px;
      margin: 20px;
  }

  bg-body-tertiary {
      background-color: #3a3a3c;
      color: #e7e8e9;
  }

  button.btn.btn-outline-success {
      border-color: gray;
      color: black;
  }

  button.btn.btn-outline-success:hover {
      background-color: #707070;
  }

  .btn-container button {
      margin-left: 10px;
  }

  button a {
      color: black;
      text-decoration: none;
  }

  a svg path {
      text-decoration: none;
      color: black;
  }

  div.card.mb-3 {
      background-color: #f5f4f5;
      margin: 30px;
      color: #C5C5C5;
  }

  .card-title {
      font-size: 23px;
  }

  .card {
      margin: 30px 10px 30px 10px;
  }

  .card-body {
      height: 200px;
  }

  a.btn.btn-primary {
      float: right;
  }

  .contactForm {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .contactForm form {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px;
      width: 30%;
  }

  .buttonSpace {
      display: flex;
      justify-content: right;
  }

  .buttonSpace button {
      width: 70px;
      border-radius: 5px;
      border: solid 1px;
      font-weight: 500;
  }

  .buttonSpace button:hover {
      transition: 0.5s;
      background-color: #aed471;
  }

  .buttonFilter svg {
      width: 30px;
      height: 30px;
  }

  .buttonFilter {
      border: none;
      background-color: #CDDBB6;
  }

  .form-check {
      margin: 8px;
  }

  #dinamic-card {
      min-height: 400px;
  }

  .eventContainer {
      background-color: #CDDBB6;
  }

  #cardDetail {
      height: 302px;
      border: solid 1px;
  }


  table {
      margin: 30px;
  }

  .eventContainer {
      display: flex;
      justify-content: center;
  }

  div.card.mb-3 {
      height: 350px;
      margin-top: 80px;
      margin-bottom: 60px;
  }

  .eventContainer {
      height: 520px;
  }


  tr {
      border: 1px solid;
  }

  td {
      border: 1px solid;
  }

  tbody tr td {
      text-align: center;
  }

  .tittle-table {
      font-size: 18px;
      font-weight: 600;
  }

  p.card-description {
      position: relative;
      font-size: 14px;
      bottom: 25px;
  }

  a.btn.btn-primary:hover {
      background-color: #707070;
      transition: 0.75s;
  }

  a.btn.btn-primary {
      position: absolute;
      right: 5px;
      bottom: 5px;
      background-color: #f5f4f5;
      border-radius: 0;
      border: #707070 1px solid;
      color: black;
  }

  .card {
      border: solid 1px #707070;
      background-color: #f5f4f5;
  }

  /* Card Detail */

  .card.mb-3 {
      max-height: 302px;
  }

  .card-date {
      left: 0px;
  }

  .card-info {
      display: flex;
      justify-content: space-between;
      color: black;
  }

  button.btn.btn-primary {
      float: right;
      position: relative;
      bottom: 10px;
      background-color: #f5f4f5;
      border-radius: 0;
      border: #707070 1px solid;
      color: black;
  }

  .info-bottom div {
      font-size: 30px;
  }

  .card-data {
      display: flex;
      width: 100%;
      height: 20px;
      justify-content: space-between;
      color: black;
  }

  .price {
      font-size: 22px;
      margin-left: 10px;
      color: #0c0c0c;
  }

  .card-text {
      color: #707070;
      font-size: 18px;
  }

  .card-body h5 {
      color: #0c0c0c;
  }

  button.btn.btn-primary:hover {
      background-color: #707070;
      transition: 0.75s;
  }

  .eventContainer {
      background-color: #b3a897;
  }

  .card.mb-3 {
      border: 1px solid #707070;
      box-shadow: 40px 40px grey;
  }

  .card-text {
      position: relative;
      bottom: 20px;
  }

  .card-data {
      color: #707070;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
  }

  small small hr {
      position: relative;
      bottom: 15px;
  }

  .card-info {
      position: relative;
      bottom: 20px;
  }

  @media (max-width: 768px) {
      .card-body {
          background-color: #f5f4f5;
          height: 300px;
      }

      .row.g-0 {
          max-width: 450px;
      }

      .col-md-6 {
          height: 300px;
      }

      .eventContainer {
          height: 700px;
      }

      .card.mb-3 {
          box-shadow: none;
      }

      button.btn.btn-primary {
          float: none;
      }

      .btn-container {
          display: flex;
          justify-content: center;
      }

  }